numpy 
pandas
python-dotenv #envirnment variables set chestam ga avi ready cheyyadaniki ee library help chestadi
mysql-connector-python
pymysql
scikit-learn
seaborn
catboost
xgboost
mlflow==2.22.1
dagshub
#-e .

